!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/dev/ci/**/Gemfile.lock
!/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
!/lib/app/common/values/color_schemes.dart
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
**.g.dart
**/*.jks
**/*.keystore
**/*sync/
**/.generated/
**/.symlinks/
**/.vagrant/
**/android/**/GeneratedPluginRegistrant.java
**/android/**/gradle-wrapper.jar
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/key.properties
**/android/local.properties
**/DerivedData/
**/dgph
**/doc/api/
**/Flutter/ephemeral/
**/generated_plugin_registrant.dart
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.symlinks/
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/app.flx
**/ios/Flutter/App.framework
**/ios/Flutter/app.zip
**/ios/Flutter/ephemeral
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Generated.xcconfig
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/ServiceDefinitions.json
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugin_registrant.h
**/macos/Flutter/ephemeral
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/Pods/
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
**/xcuserdata/
*.aab
*.apk
*.class
*.iml
*.ini
*.ipr
*.iws
*.jks
*.lock
*.log
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.pyc
*.swp
*.xls*
*sync/
-h
.atom/
.buildlog/
.classpath
.cxx
.dart_tool/
.DS_Store
.externalNativeBuild
.flutter-plugins
.flutter-plugins-dependencies
.generated/
.gradle
.gradle/
.history
.idea/
.packages
.packages.generated
.project
.pub-cache/
.pub/
.sconsign.dblite
.settings/
.svn/
.tags*
.vagrant/
.vscode/
/../.idea
/.gradle
/.idea
/bin/cache/
/bin/internal/bootstrap.bat
/bin/internal/bootstrap.sh
/bin/mingit/
/captures/
/dev/benchmarks/mega_gallery/
/dev/bots/.recipe_deps
/dev/bots/android_tools/
/dev/devicelab/ABresults*.json
/dev/docs/doc/
/dev/docs/flutter.docs.zip
/dev/docs/lib/
/dev/docs/pubspec.yaml
/dev/integration_tests/**/Pods
/dev/integration_tests/**/xcuserdata
/Flutter/ephemeral/
/Flutter/flutter_export_environment.sh
/Flutter/Generated.xcconfig
/generated
/gradlew
/gradlew.bat
/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
/ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
/ios/Runner/Assets.xcassets/AppIcon.appiconset/*.png
/ios/Runner/Assets.xcassets/BrandingImage.imageset
/ios/Runner/Assets.xcassets/LaunchBackground.imageset
/ios/Runner/Assets.xcassets/LaunchImage.imageset
/lib/generated
/lib/l10n/l10n.dart
/lib/l10n/l10n_en.dart
/lib/l10n/l10n_fr.dart
/local.properties
/packages/flutter/coverage/
/Runner/GeneratedPluginRegistrant.h
/Runner/GeneratedPluginRegistrant.m
analysis_benchmark.json
app.*.symbols
beta
build
build/
build_output.txt
captures
coverage/
debug
DerivedData/
Flutter/app.flx
Flutter/App.framework
Flutter/app.zip
Flutter/ephemeral/
Flutter/Flutter.framework
Flutter/Flutter.podspec
Flutter/flutter_assets/
Flutter/flutter_export_environment.sh
Flutter/Generated.xcconfig
flutter_*.png
GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.java
GeneratedPluginRegistrant.m
gradle-wrapper.jar
Icon?
key.*
key.properties
keystore.gradle
linked_*.ds
local.properties
profile
release
Runner/GeneratedPluginRegistrant.*
ServiceDefinitions.json
unlinked.ds
unlinked_spec.ds
untranslated_messages.txt
version
xcuserdata